{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <div class="section-title mb-4 pb-2">
                <h4 class="title mb-4">Latest Blog &amp; News</h4>
            </div>
        </div><!--end col-->
    </div><!--end row-->

    <div class="container my-3">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <!-- Start of Post Card -->
             {% for post in posts %}
                {% include "posts/includes/post-card.html" %}
             {% endfor %}
        </div>
        {% if count > 10 %}
            {% include "posts/includes/posts-pagination.html" %}
        {% endif %}
    </div>
    
</div>
{% endblock body %}